@font-face {
  font-family: 'ParryHotter';
  src: local('ParryHotter'),
    url('./fonts/ParryHotter.ttf') format('truetype');
}

html body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  margin: 1rem; 
  width: calc(20% - 1rem);  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.Movie-Forum label{
  margin: 5px;
}

.Movie-Forum {
 display: flex;
 flex-direction: column;
 padding-left: 200px;
 padding-right: 200px;
 text-align: center;
 margin: 0 auto; 
}

.Movie-Forum button{
  height: 5vh;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;

}

  .forumCard {
    list-style: none; 
  }
  
header {
  background-color: #740001;
  font-family: "ParryHotter";
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: white;
  font-size: 2em;
  font-weight: 500;
  text-align: left;
  padding-left: 1rem;
}

header ul {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

header ul a:hover {
  color: lightgray;
}

header ul a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: 900;
  text-align: right;
  padding: 1rem;
}

.logo {
  margin: 0.5em;
  font-size: 1.25em;
}

.search {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.search input {
  padding: 6px 10px;
  background: #ffffff;
  font-size: 17px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.search button {
  padding: 4px 6px 2px;
  background: #ddd;
  border: none;
  cursor: pointer;
  border-radius: 25%;
}

.Movie-Detail {
  padding: 10px;
  
}

.container {
  padding: 40px 40px 40px;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &__image {
    width: 250px;
    margin: 30px 30px 30px 0;
    float: left;
  }
  &__text {
    display: inline;
  }
}

